 
<%= image_tag @portfolio_item.main_image %>
<br>


<em><%= @portfolio_item.title %></em>

<br>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>



<%= link_to 'Back', portfolios_path %>